body {
  background-color: rgb(250, 242, 212);
}

.carousel-inner > .item > img { margin: 0 auto; }
.carousel .item {
  height: 500px;
}

.center {
  margin: 0 auto;
}

.skrollable {
  position: fixed;
  pointer-events: none;
}

.sky {
  width: 100%;
  height: 1318px;
  background: rgb(250, 242, 212) url(../images/BG_I_001.png) repeat-x left top;
  z-index: -501;
}
.cloud-02 {
  width: 100%;
  height: 100%;
  background: url(../images/cloud_02.png) repeat-x 0px 550px;
  z-index: -500;
}
.cloud-01 {
  width: 100%;
  height: 100%;
  background: url(../images/cloud_01.png) no-repeat 0px 550px;
  z-index: -499;
}
.tree-02 {
  width: 256px;
  height: 256px;
  background: url(../images/BG_G_001.png) no-repeat -768px 0px;
  z-index: -498;
}
.tree-01 {
  width: 512px;
  height: 512px;
  background: url(../images/BG_F_001.png) no-repeat 0px 0px;
  z-index: -497;
}
.house {
  width: 512px;
  height: 512px;
  background: url(../images/BG_E_001.png) no-repeat 0px 0px;
  z-index: -496;
}
.scarecrow {
  width: 512px;
  height: 256px;
  background: url(../images/BG_E_001.png) no-repeat -512px 0px;
  z-index: -495;
}
.ground {
  height: 128px;
  background: url(../images/BG_C_001.png) repeat-x left bottom;
}
.block-01 {
  margin-right: -96px;
  background: url(../images/BLOCK_01.png) no-repeat -384px 0px;
  width: 192px;
  height: 192px;
  z-index: 500;
}
.block-02 {
  background: url(../images/BLOCK_02.png) no-repeat 0px 0px;
  background-position: center;
  width: 100%;
  height: 128px;
  z-index: 501;
}
.gu-01 {
  background: url(../images/GU_01.png) no-repeat -128px -240px;
  width: 120px;
  height: 100px;
  z-index: 502;
}
.gu-02 {
  background: url(../images/GU_02.png) no-repeat -120px -120px;
  width: 120px;
  height: 120px;
  z-index: 503;
}
.grass-01 {
  width: 512px;
  height: 320px;
  background: url(../images/BG_A_001.png) no-repeat -512px 0px;
  z-index: 504;
}
.grass-02 {
  width: 512px;
  height: 320px;
  background: url(../images/BG_A_001.png) no-repeat 0px 0px;
  z-index: 505;
}