@import "../bower_components/bootstrap/less/bootstrap.less";

// Bootstrap
@icon-font-path: "../bower_components/bootstrap/dist/fonts/";

// Color
@citrine-white: rgb(250, 242, 212);
@dark-blue: rgb(0, 43, 85);
@pure-orange: rgb(247, 180, 0);
@very-dark-blue: rgb(0, 1, 2);

// Image
@images: "../images";
@sprite-bg-a-001: "@{images}/BG_A_001.png";
@sprite-bg-c-001: "@{images}/BG_C_001.png";
@sprite-bg-e-001: "@{images}/BG_E_001.png";
@sprite-bg-f-001: "@{images}/BG_F_001.png";
@sprite-bg-i-001: "@{images}/BG_I_001.png";
@sprite-gu: "@{images}/GU.png";
@sprite-cloud-01: "@{images}/cloud_01.png";
@sprite-cloud-02: "@{images}/cloud_02.png";
@sprite-block-01: "@{images}/BLOCK_01.png";
@sprite-block-02: "@{images}/BLOCK_02.png";
@cg-gu-l: "@{images}/games/gumorning_pic_l.png";
@cg-gu-m: "@{images}/games/gumorning_pic_m.png";
@cg-gu-s: "@{images}/games/gumorning_pic_s.png";
@cg-sc-l: "@{images}/games/subcat_pic_l.png";
@cg-sc-m: "@{images}/games/subcat_pic_m.png";
@cg-sc-s: "@{images}/games/subcat_pic_s.png";
@cg-xd-l: "@{images}/games/xd_pic_l.png";
@cg-xd-m: "@{images}/games/xd_pic_m.png";
@cg-xd-s: "@{images}/games/xd_pic_s.png";
@bg-about-l: "@{images}/about/pic_about_l.png";
@bg-about-m: "@{images}/about/pic_about_m.png";
@bg-about-s: "@{images}/about/pic_about_s.png";
@bg-join-l: "@{images}/joinus/pic_joinus02.png";
@bg-join-m: "@{images}/joinus/pic_joinus_m.png";
@bg-join-s: "@{images}/joinus/pic_joinus_s.png";
@bg-outsource-l: "@{images}/outsource/pic_outsource_l.png";
@bg-outsource-m: "@{images}/outsource/pic_outsource_m.png";
@bg-outsource-s: "@{images}/outsource/pic_outsource_s.png";
@bg-contact-l: "@{images}/contact/pic_contact.png";
@bg-contact-m: "@{images}/contact/pic_contact_m.png";
@bg-contact-s: "@{images}/contact/pic_contact_s.png";

// Property
.carousel, .carousel-inner, .carousel-inner .item {
  height: 100%;
}

.background-size(@value) {
  -moz-background-size: @value;
  -webkit-background-size: @value;
  -o-background-size: @value;
  background-size: @value;
}

.full-wrap {
  // position: fixed !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.section {
  height: auto;
}
.section-gumorning {
  background: url(@cg-gu-s) no-repeat left top;
  .background-size(cover);
}
.section-subcat {
  background: url(@cg-sc-s) no-repeat right top;
  .background-size(cover);
}
.section-xd {
  background: url(@cg-xd-s) no-repeat center bottom;
  .background-size(cover);
}
.section-join {
  color: @dark-blue;
  background: url(@bg-join-s) no-repeat center top;
  .background-size(cover);
}
.section-outsource {
  color: @dark-blue;
  background: url(@bg-outsource-s) no-repeat center top;
  .background-size(cover);
}
.section-about {
  // TODO:
  padding-top: 350px;
  color: @citrine-white;
  background: @very-dark-blue url(@bg-about-s) no-repeat center top;
  .background-size(contain);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .section {
    height: auto;
  }
  .section-gumorning {
    background: url(@cg-gu-m) no-repeat right top;
    .background-size(cover);
  }
  .section-subcat {
    background: url(@cg-sc-m) no-repeat left top;
    .background-size(cover);
  }
  .section-xd {
    background: url(@cg-xd-m) no-repeat center bottom;
    .background-size(cover);
  }
  .section-join {
    background: url(@bg-join-m) no-repeat center top;
    .background-size(cover);
  }
  .section-outsource {
    background: url(@bg-outsource-m) no-repeat center top;
    .background-size(cover);
  }
  .section-about {
    background: @very-dark-blue url(@bg-about-m) no-repeat center top;
    .background-size(contain);
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .section {
    height: 100%;
  }
  .section-gumorning {
    background: url(@cg-gu-l) no-repeat center top;
    .background-size(cover);
  }
  .section-subcat {
    background: url(@cg-sc-l) no-repeat center top;
    .background-size(cover);
  }
  .section-xd {
    background: url(@cg-xd-l) no-repeat center bottom;
    .background-size(cover);
  }
  .section-join {
    background: url(@bg-join-l) no-repeat center center;
    .background-size(cover);
  }
  .section-outsource {
    background: url(@bg-outsource-l) no-repeat center center;
    .background-size(cover);
  }
  .section-about {
    // TODO:
    padding-top: 0;
    background: url(@bg-about-l) no-repeat center center;
    .background-size(cover);
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}
