@import "../bower_components/bootstrap/less/bootstrap.less";

@citrine-white: rgb(250, 242, 212);
@dark-blue: rgb(0, 43, 85);
@pure-orange: rgb(247, 180, 0);
@very-dark-blue: rgb(0, 1, 2);

@images: "../images";
@navbar-height: 50px;
@carousel-height-l: 623px;
@carousel-height-m: @carousel-height-l - 141;
@carousel-height-s: @carousel-height-l - 365;
@sky-height: 1318px;
@z-index-bg: -500;
@z-index-fg: 500;
@sprite-bg-a-001: "@{images}/BG_A_001.png";
@sprite-bg-c-001: "@{images}/BG_C_001.png";
@sprite-bg-e-001: "@{images}/BG_E_001.png";
@sprite-bg-f-001: "@{images}/BG_F_001.png";
@sprite-bg-i-001: "@{images}/BG_I_001.png";
@sprite-gu: "@{images}/GU.png";
@sprite-cloud-01: "@{images}/cloud_01.png";
@sprite-cloud-02: "@{images}/cloud_02.png";
@sprite-block-01: "@{images}/BLOCK_01.png";
@sprite-block-02: "@{images}/BLOCK_02.png";
@cg-gu-l: "@{images}/games/gumorning_pic_l.png";
@cg-gu-m: "@{images}/games/gumorning_pic_m.png";
@cg-gu-s: "@{images}/games/gumorning_pic_s.png";
@cg-sc-l: "@{images}/games/subcat_pic_l.png";
@cg-sc-m: "@{images}/games/subcat_pic_m.png";
@cg-sc-s: "@{images}/games/subcat_pic_s.png";
@cg-xd-l: "@{images}/games/xd_pic_l.png";
@cg-xd-m: "@{images}/games/xd_pic_m.png";
@cg-xd-s: "@{images}/games/xd_pic_s.png";
@bg-about-l: "@{images}/about/pic_about_l.png";
@bg-about-m: "@{images}/about/pic_about_m.png";
@bg-about-s: "@{images}/about/pic_about_s.png";
@bg-join-l: "@{images}/joinus/pic_joinus02.png";
@bg-join-m: "@{images}/joinus/pic_joinus_m.png";
@bg-join-s: "@{images}/joinus/pic_joinus_s.png";
@bg-outsource-l: "@{images}/outsource/pic_outsource_l.png";
@bg-outsource-m: "@{images}/outsource/pic_outsource_m.png";
@bg-outsource-s: "@{images}/outsource/pic_outsource_s.png";
@bg-contact-l: "@{images}/contact/pic_contact.png";
@bg-contact-m: "@{images}/contact/pic_contact_m.png";
@bg-contact-s: "@{images}/contact/pic_contact_s.png";

.background-cover() {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-contain() {
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.sprite(@url, @repeat, @left, @top) {
  background: @url @repeat @left @top;
}

body {
}

footer {
  background-color: white;
}

.center {
  margin: 0 auto;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel {
  height: @carousel-height-s;
}
.carousel .item {
  height: @carousel-height-s;
}

#carousel-gumorning {
  height: 100%;
  background: url(@cg-gu-s) no-repeat center top;
  .background-contain();
}
#carousel-subcat {
  height: 100%;
  background: url(@cg-sc-s) no-repeat center top;
  .background-contain();
}
#carousel-xd {
  height: 100%;
  background: url(@cg-xd-s) no-repeat center top;
  .background-contain();
}
#featurette-join {
  padding-top: 110%;
  padding-bottom: 0;
  background: url(@bg-join-s) no-repeat center top;
  color: @dark-blue;
  .background-cover();
}
#featurette-outsource {
  padding-top: 60%;
  padding-bottom: 25%;
  background: url(@bg-outsource-s) no-repeat center center;
  color: @dark-blue;
  .background-cover();
}
#featurette-about {
  padding-top: 180%;
  background: @very-dark-blue url(@bg-about-s) no-repeat center top;
  color: white;
  .background-cover();
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .carousel {
    height: @carousel-height-m;
  }
  .carousel .item {
    height: @carousel-height-m;
  }
  #carousel-gumorning {
    height: 100%;
    background: url(@cg-gu-m) no-repeat center top;
    .background-contain();
  }
  #carousel-subcat {
    height: 100%;
    background: url(@cg-sc-m) no-repeat center top;
    .background-contain();
  }
  #carousel-xd {
    height: 100%;
    background: url(@cg-xd-m) no-repeat center top;
    .background-contain();
  }
  #featurette-join {
    padding-top: 70%;
    padding-bottom: 20%;
    background: url(@bg-join-m) no-repeat center top;
    color: @dark-blue;
    .background-cover();
  }
  #featurette-outsource {
    padding-top: 30%;
    padding-bottom: 25%;
    background: url(@bg-outsource-m) no-repeat center center;
    color: @dark-blue;
    .background-cover();
  }
  #featurette-about {
    padding-top: 85%;
    background: @very-dark-blue url(@bg-about-m) no-repeat center top;
    color: white;
    .background-cover();
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .carousel {
    height: @carousel-height-l;
  }
  .carousel .item {
    height: @carousel-height-l;
  }
  #carousel-gumorning {
    height: @carousel-height-l;
    background: url(@cg-gu-l) no-repeat center bottom;
    //.background-contain();
  }
  #carousel-subcat {
    height: @carousel-height-l;
    background: url(@cg-sc-l) no-repeat center bottom;
    //.background-contain();
  }
  #carousel-xd {
    height: @carousel-height-l;
    background: url(@cg-xd-l) no-repeat center bottom;
    //.background-contain();
  }
  #featurette-join {
    height: 623px;
    padding-top: 200px;
    padding-bottom: 0;
    background: url(@bg-join-l) no-repeat center center;
    color: @dark-blue;
    //.background-contain();
  }
  #featurette-outsource {
    height: 630px;
    padding-top: 250px;
    padding-bottom: 0;
    background: url(@bg-outsource-l) no-repeat center bottom;
    color: @dark-blue;
    //.background-contain();
  }
  #featurette-about {
    height: 623px;
    padding-top: 200px;
    // background: @very-dark-blue url(@bg-about-l) no-repeat center center;
    background: url(@bg-about-l) no-repeat center center;
    color: white;
    //.background-contain();
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}
