<div name="top" class="full-wrap">
<!-- Navbar -->
<div class="navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <!-- Logo -->
    <a class="navbar-brand" href="#"><img src="images/logo_top.png" alt="Logo"></a>
    <!-- Menu Toggle Button for mobile -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div><!-- END of navbar-header -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <!-- GAMES dropdown -->
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <h3>{{ 'MENU_TITLE_GAMES' | translate }} <b class="caret"></b></h3>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#games" data-target="#carousel-generic" data-slide-to="0">
              {{ 'GAME_TITLE_GUMORNING' | translate }}
            </a>
          </li><!-- END of GAME_GUMORNING -->
          <li>
            <a href="#games" data-target="#carousel-generic" data-slide-to="1">
              {{ 'GAME_TITLE_SUBCAT' | translate }}
            </a>
          </li><!-- END of GAME_SUBCAT -->
          <li>
            <a href="#games" data-target="#carousel-generic" data-slide-to="2">
              {{ 'GAME_TITLE_XD' | translate }}
            </a>
          </li><!-- END of GAME_XD -->
        </ul>
      </li><!-- END of GAMES dropdown -->

      <!-- JOBS dropdown -->
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <h3>{{ 'MENU_TITLE_JOBS' | translate }} <b class="caret"></b></h3>
        </a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="scrollTo('join')">{{ 'MENU_TITLE_JOIN_US' | translate }}</a></li>
          <li><a href="" ng-click="scrollTo('outsource')">{{ 'MENU_TITLE_OUTSOURCE' | translate }}</a></li>
        </ul>
      </li><!-- END of JOBS dropdown -->
      <li>
        <a href="" ng-click="scrollTo('about')"><h3>{{ 'MENU_TITLE_ABOUT' | translate }}</h3></a>
      </li><!-- END of ABOUT -->
      <li>
        <a href="mailto:info@unicube.com.tw"><h3>{{ 'MENU_TITLE_CONTACT' | translate }} <b class="glyphicon glyphicon-envelope"></b></h3></a>
      </li><!-- END of CONTACT -->
    </ul>
  </div><!-- END of navbar-collapse -->
</div><!-- END of Navbar -->

<!-- Carousel -->
<div id="carousel-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-generic" data-slide-to="0"></li>
    <li data-target="#carousel-generic" data-slide-to="1"></li>
    <li data-target="#carousel-generic" data-slide-to="2" class="active"></li>
  </ol><!-- END of Indicators -->
  <div class="carousel-inner">
    <div class="item section-gumorning">
      <div class="carousel-caption">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <p><a target="_blank" href="https://itunes.apple.com/tw/app/gu-morning-zao-an-gu-gu/id474441856?mt=8"><img src="images/games/Available_on_the_App_Store.png" class="img-responsive" alt="Available on the App Store"></a></p>
          </div>
          <div class="col-sm-3">
            <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.gamania.gumorning"><img src="images/games/Google_Play_Badge.png" class="img-responsive" alt="Available on the Google Play"></a></p>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </div>
    <div class="item section-subcat">
      <div class="carousel-caption">
        <p class="text-center"><a target="_blank" href="https://itunes.apple.com/tw/app/id509979894?mt=8"><img src="images/games/Available_on_the_App_Store.png" alt="Available on the App Store"></a></p>
      </div>
    </div>
    <div class="item section-xd active">
      <div class="carousel-caption">
        <a class="btn btn-lg btn-default" href="https://tw.new.beanfun.com/xd" role="button" target="_blank">{{ 'CAROUSEL_LINK_XD' | translate }} »</a>
      </div>
    </div>
  </div><!-- END of carousel-inner -->
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!-- END of Carousel -->

<div id="join" class="section section-join">
  <div class="container">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="page-header">
        <h1 class="text-center">Join us</h1>
      </div>
      <p class="lead">{{ 'JOIN_CONTENT' | translate }}</p>
      <ul class="lead">
        <li>{{ 'JOIN_TEXT_BENEFITS_01' | translate }}</li>
        <li>{{ 'JOIN_TEXT_BENEFITS_02' | translate }}</li>
        <li>{{ 'JOIN_TEXT_BENEFITS_03' | translate }}</li>
        <li>{{ 'JOIN_TEXT_BENEFITS_04' | translate }}</li>
        <li>{{ 'JOIN_TEXT_BENEFITS_05' | translate }}</li>
      </ul>
      <p class="lead text-center">{{ 'JOIN_TEXT_CONTACT' | translate }}： <a href="mailto:hr@unicube.com.tw">hr@unicube.com.tw <b class="glyphicon glyphicon-envelope"></b></a></p>
      <p class="text-center"><a href="#/jobs" class="btn btn-default btn-lg">{{ 'JOIN_TEXT_JOB_LIST' | translate }} »</a></p>
    </div>
  </div>
</div>

<div id="outsource" class="section section-outsource">
  <div class="container">
    <div class="col-md-6">
      <div class="page-header">
        <h1 class="text-center">Outsource</h1>
      </div>
      <p class="lead">{{ 'OUTSOURCE_CONTENT' | translate }}</p>
      <p class="lead text-center">{{ 'OUTSOURCE_TEXT_CONTACT' | translate }}： <a href="mailto:outsource@unicube.com.tw">outsource@unicube.com.tw <b class="glyphicon glyphicon-envelope"></b></a></p>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

<div id="about" class="section section-about">
  <div class="container">
    <div class="col-md-6">
      <div class="page-header">
        <h1 class="text-center">About</h1>
      </div>
      <p class="lead">{{ 'ABOUT_CONTENT' | translate }}</p>
      <p class="lead text-center">{{ 'ABOUT_TEXT_PARTNER' | translate }}</p>
      <p class="text-center"><a href="http://tw.gamania.com" target="_blank"><img src="images/about/logo_gamania.png" alt="{{ 'ABOUT_TEXT_GAMANIA' | translate }}"></a></p>
      <p class="text-center"><a href="http://www.mimigigi.com.tw" target="_blank"><img src="images/about/logo_mimigigi.png" alt="{{ 'ABOUT_TEXT_MIMIGIGI' | translate }}"></a></p>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

<hr>

<!-- Footer -->
<div class="footer container">
  <p class="text-right"><a ng-click="scrollTo('top')" href="">Back to top</a></p>
  <p class="text-right">© 2014 Unicube Corporation</p>
</div><!-- END of Footer -->

</div>
