<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="#">{{ 'MENU_TITLE_HOME' | translate }}</a></li>
    </ul>
    <h2>{{ 'JOB_LIST_TITLE' | translate }}</h2>
  </div>
  <hr>
  <div class="jumbotron">
    <h1 class="text-center">{{ 'JOB_LIST_TEXT_JOIN_US' | translate }}</h1>
    <p class="lead">{{ 'JOIN_CONTENT' | translate }}</p>
    <p class="text-center"><a href="mailto:hr@unicube.com.tw" class="btn btn-primary btn-lg">{{ 'JOB_LIST_TEXT_CONTACT' | translate }} <span class="glyphicon glyphicon-envelope"></span></a></p>
  </div>
  <div class="row">
    <div class="col-sm-4" ng-repeat="job in jobs | filter:{enabled:1} | orderBy:'updated':true">
      <h2>{{job.name}}</h2>
      <p>{{job.description}}</p>
      <p class="text-muted">{{ 'JOB_LIST_TEXT_EDUCATION' | translate }}：{{job.education}}</p>
      <p class="text-muted">{{ 'JOB_LIST_TEXT_EXPERIENCE' | translate }}：{{job.experience}}</p>
      <p class="text-muted">{{ 'JOB_LIST_TEXT_PLACE' | translate }}：{{job.place}}</p>
    </div>
  </div>
  <hr>
  <div class="footer">
    <p class="text-right">© 2014 Unicube Corporation</p>
  </div>
</div>
